@charset "UTF-8";
/*全体構造*/

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #000000;
  line-height: 1.5;
  background-color: #fff;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
  text-align: center;
}
h3 {
  font-size: 18px;
  text-align: center;
}
p,
a {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #000000;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
u1 {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.inner {
  padding: 70px 50px;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}
.line {
  background-color: #4a4a4a;
  width: 55px;
  height: 1px;
  margin: 30px auto 60px;
}

/*ヘッダー*/

header {
  height: 13vh;
  background-color: #362cffdb;
  color: #ffffff;
}
header:hover {
  color: white;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
}
header ul {
  display: flex;
}
.change {
  color: #ffffff;
}
header li {
  padding: 0 20px;
}

/* モーダルウィンドウのスタイル */

/* ハンバーガーアイコンのスタイル */
#hamburgerIcon {
  cursor: pointer;
  font-size: 40px;
  height: 65px;
}

/* .hamburgerIcon { */
/* width: 50px; */
/* height: 50px; */

/* } */

/* モーダルウィンドウのスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*メインビジュアル*/

.mainvisual {
  height: 200px;
  background-image: url(/img/sky.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.mainvisual::before {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.mainvisual h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*お知らせリスト外枠*/

.outer-box {
  background-color: #e9e9fbdb;
  max-width: 2000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}

.inner-box {
  width: 1000px;
  height: 940px;
  background-color: #fff;
  padding: 0;
  margin: auto;
  border-radius: 20px;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .inner-box {
    width: auto;
    max-width: 1000px;
    height: auto;
    padding-bottom: 55px;
  }
}

/*お知らせ一覧*/

.p-newslist-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.news-list {
  list-style: none outside;
  margin-top: 100px;
  padding: 0 15px;
  width: 100%;
}
.news-list .item a {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px;
}

.news-list .item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: #999;
  padding: 0 20px 0 0;
}
.news-list .item .category span {
  background: #362cffdb;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  border-radius: 10px;
}
.news-list .item .title {
  margin: 0;
  padding: 0 16px;
}
.news-list .item a:hover .title {
  color: #362cffdb;
}
@media screen and (max-width: 730px) {
  .news-list .item a {
    flex-wrap: wrap;
  }
  .news-list .item .date {
    min-width: 100px;
  }
  .news-list .item .title {
    margin-top: 0px;
    flex-basis: 100%;
  }
}

/*装飾*/
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.news-list {
  margin: 0;
}

/*ページリスト*/
.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.newslist-pager a:hover {
  color: #362cffdb;
}

/*フッター*/
footer {
  background-color: #362cffdb;
  text-align: center;
}

footer p {
  color: #ffffff;
  padding: 20px 0;
}
